<div class="row">
    <button type="button" class="btn btn-primary" (click)="openModal(template, null)">הוספה</button>
</div>
<div class="column col-12">
    <table class="table">
        <thead>
            <tr>
                <th>שם מלא</th>
                <th>תעודת זהות</th>
                <th>תאור תפקיד</th>
                <th>מנהל</th>
                <th>עריכה</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of employeeData">
                <td>{{item.fullName}}</td>
                <td>{{item.identityId}}</td>
                <td>{{item.roleTypeDesc}}</td>
                <td>{{item.managerName}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm"
                        (click)="openModal(template, item)">עריכה</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{employeeDataSelected ? 'עדכון עובד': 'הוספת עובד'}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="employeeForm">
            <div class="form-group">
                <label for="">שם פרטי</label>
                <input class="form-control" formControlName="firstName">
            </div>
            <div class="form-group">
                <label for="">שם משפחה</label>
                <input class="form-control" formControlName="lastName">
            </div>
            <div class="form-group">
                <label for="">תעודת זהות</label>
                <input class="form-control" formControlName="identityId">
            </div>
            <div class="form-group">
                <label for="">תפקיד</label>
                <select class="form-control" formControlName="roleId">
                    <option [value]="null">ללא תפקיד</option>
                    <option *ngFor="let role of employeeRole" [value]="role.id">
                        {{role.desc}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="">מנהל</label>
                <select class="form-control" formControlName="managerId">
                    <option [value]="null">ללא מנהל</option>
                    <option *ngFor="let op of managerData" [value]="op.id">
                        {{op.firstName + ' ' + op.lastName}}
                    </option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer justify-content-between">
        <button *ngIf="employeeDataSelected" type="button" class="btn btn-danger" data-dismiss="modal"
            (click)="[removeEmployee(),modalRef?.hide()]">מחיקה</button>
        <div>
            <button type="button" class="btn btn-default" (click)="modalRef?.hide()">בטל</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="[onSubmit(), modalRef?.hide()]"
                [disabled]="employeeForm.invalid">בצע</button>
        </div>
    </div>
</ng-template>