<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Test_Bynet</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="dash">דף ראשי</a>
            <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="manager">מנהלים</a>
            <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="employee">עובדים</a>
        </div>
    </div>
    <!-- Page Content-->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom justify-content-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <h4>Test App</h4>

        </nav>
        <div class="container-fluid mt-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>